[2021-03-13 12:46] flyingsonu122 opened #1 "Frontend discussion"
I want to work on the front end

[2021-03-13 18:10] amishaagarwal1998 commented on #1
Sure you may start working on it. The frontend is using js. Refer to mov file to know about the front end better

[2021-03-14 08:06] payalsoni-07 opened #2 "GirlScript Community web contribution"
Hi, I'm GSSOC'21 Participant. I want to contribute for this project. I'm beginner, so please  guide me what can I do for this project.

[2021-03-14 09:31] n-coder2k commented on #1
I want to work on front end

[2021-03-14 09:34] keshavga1209 commented on #1
I am also interested in contributing to front end of the website as a GSSOC participant. Can you assign it to me as well?

[2021-03-14 15:48] amishaagarwal1998 commented on #2
Hi Payal, You can go through the mov file to look at the front end of the project. Accordingly, you can start contributing!

[2021-03-14 16:56] ApekshaAgarwal opened #4 "Backend discussion"
I would like to work on backend for this website.

[2021-03-14 17:00] amishaagarwal1998 commented on #4
Sure, the backend is to be done in django. Please let us know what you have in mind and how you would like to proceed.

[2021-03-14 20:53] cryptofox17 opened #6 "Adding a README.md file"
Right now it's just blank and doesn't give any information, so I would like to make a readme.md file.  Please assign this issue to me

[2021-03-15 10:46] AlacritousCreature commented on #1
Hey! @Rao-DY @milind56! I would like to start working on the frontend.....but it seems that the basic setup isn't done yet for this website. Please make it soon so that we can start working on it. I would like to start contributing by applying a suitable navbar and footer.

[2021-03-15 17:50] musk101 commented on #1
Hey! @Rao-DY @milind56 @amishaagarwal1998 I have started the basic structure of the website using React and antd library from scratch.

[2021-03-15 17:54] amishaagarwal1998 commented on #1
Hey! @Rao-DY <https://github.com/Rao-DY> @milind56
<https://github.com/milind56>! Please do the basic step of the website
 It would be easy for us to contribute from there.
On Mon, Mar 15, 2021, 11:20 PM muskan agarwal ***@***.***>
wrote:

[2021-03-16 04:52] codewithvk opened #8 "(Frontend) Add basic react structure"
- Add initial structure for frontend using react having basic components

[2021-03-16 05:00] codewithvk commented on #6
@cryptofox17 Go ahead.

[2021-03-16 05:02] amishaagarwal1998 opened #9 "**Update README file of Assets folder**"
Assets folder will be used to contain all resources of the project - images, designs etc.

[2021-03-16 05:06] codewithvk opened #10 "Add bug and feature template for issues"
- Template for bug report issue containing all the required the sections like {Current behavior, expected behavior, Related screenshot, Device used, etc}
 - Template for feature request issue containing all the required the sections like Feature description, Related link. screenshot for reference, etc.

[2021-03-16 05:07] amishaagarwal1998 opened #11 "Backend Work"
To design backend of the website in django.

[2021-03-16 05:09] codewithvk opened #12 "Add Pull Request template"
- A good enough PR template that contains all the required sections including which issue it closes issue number, Feature/Change, Screenshot/Image of Feature

[2021-03-16 05:35] cryptofox17 commented on #12
Could I work on this please?

[2021-03-16 05:35] vedikaag99 commented on #12
@codewithvk Can I take up this issue?
I do have one question though. Do I create a `.github` folder and add the template.md there?

[2021-03-16 05:37] shreyanshi16 commented on #12
I want to work on this issue. Please assign me.

[2021-03-16 05:39] vedikaag99 commented on #10
@codewithvk Can I take up this issue?
Also, do I make seperate PR's for each of them?

[2021-03-16 05:43] shreyanshi16 commented on #8
I want to work on this issue. Please assign me.

[2021-03-16 05:57] amishaagarwal1998 opened #13 "Changes in homepage"
Change content to contact in navbar.
Logo of GS is not visible in homepage. Fix that.

[2021-03-16 05:58] Devenkapoor7303 commented on #13
@amishaagarwal1998  Can I work on this issue ?

[2021-03-16 05:59] amishaagarwal1998 commented on #13
@Devenkapoor7303 Sure you can!

[2021-03-16 06:01] Devenkapoor7303 commented on #13
Thank u can u assign this to me so that I can work on it as a GSSOC 21 Participant

[2021-03-16 06:58] codewithvk commented on #8
@shreyanshi16 Go ahead. Please name react app as `client`.

[2021-03-16 07:00] codewithvk commented on #10
@vedikaag99 Go ahead!

[2021-03-16 07:02] codewithvk commented on #12
@cryptofox17, @vedikaag99, @shreyanshi16  We do not assign more than one issue at a time. Kindly complete assigned issue :)

[2021-03-16 07:04] vedikaag99 commented on #10
@codewithvk do I need to make separate PRs for each of them?

[2021-03-16 07:07] codewithvk commented on #10
@vedikaag99 You can!

[2021-03-16 07:09] codewithvk commented on #1
@Everyone Check issue related to your stack and start contributing.

[2021-03-16 07:17] codewithvk opened #14 "[ Open For All ] Home-Page Design Improvement."
- You can give suggest a design for the home page and create using designing tools like Figma.
- Below image is the structure/example.

![HomePage](https://user-images.githubusercontent.com/61119120/111269833-16ee7300-8655-11eb-9771-d84e03a5a736.PNG)

- An assigned person can merge PR and add image file in `assets/homepage/<your name>`

[2021-03-16 07:20] codewithvk opened #15 "Contributors Name in Readme"
- Add dynamic contributor name in Readme File

[2021-03-16 07:26] AlacritousCreature commented on #15
Hey! I would like to do it. May I?

[2021-03-16 07:29] codewithvk commented on #15
@AlacritousCreature  Go ahead!!

[2021-03-16 07:31] codewithvk opened #16 "Improvement In Readme"
- Improve Structure & Design of Readme File.
 - Create `Contributor ` file, Add how to create pull request for this repo.

[2021-03-16 07:59] flyingsonu122 commented on #12
@codewithvk assign this to me

[2021-03-16 08:12] codewithvk commented on #12
@flyingsonu122 go ahead!

[2021-03-16 08:31] flyingsonu122 commented on #12
@codewithvk done #17

[2021-03-16 08:35] flyingsonu122 opened #18 "add GitHub action to request review of PR"

[2021-03-16 08:37] flyingsonu122 opened #19 "Add Issues template"
want to add Issue's template  @codewithvk

[2021-03-16 08:42] #12 closed

[2021-03-16 08:45] #18 closed

[2021-03-16 08:46] rutuja2229 commented on #9
I am a GSSoC2021 participant can I work on this, plz?
Also, can u give some more detail about what u want this reader file... I am willing to complete this task

[2021-03-16 08:46] codewithvk commented on #19
@flyingsonu122  it has been included in #10

[2021-03-16 08:46] #19 closed

[2021-03-16 08:47] rutuja2229 commented on #14
Do we hae to create same structure using Figma, I a GSSoC2021 participant
, can I work on this issue plz?

[2021-03-16 08:49] rutuja2229 commented on #16
I a a GSSoC2021 participant, willing to work on this issue can u assign this to me plz?

[2021-03-16 08:49] codewithvk commented on #14
@rutuja2229 You can take ideas from it and create different designs.

[2021-03-16 08:52] codewithvk commented on #16
@rutuja2229 Go ahead!

[2021-03-16 08:54] rutuja2229 commented on #16
Thank u so much

[2021-03-16 08:54] rutuja2229 commented on #14
I will try my best, thank u so much

[2021-03-16 10:55] #10 closed

[2021-03-16 11:10] soumyavemuri commented on #11
Hello, I am a GSSoC '21 participant. I have worked on several projects using. May I work on the backend of this project?

[2021-03-16 11:14] #6 closed

[2021-03-16 11:21] AlacritousCreature commented on #15
Hey @codewithvk, is it fine to add kuch contributors section? This one dynamically fetches all contributers from contributor section of a repo.
![Screenshot (455)](https://user-images.githubusercontent.com/58398802/111300980-ae64bd80-8677-11eb-81aa-6769ab450ecf.png)

[2021-03-16 11:22] codewithvk commented on #15
@AlacritousCreature Looks good for me. Go ahead!

[2021-03-16 11:25] AlacritousCreature commented on #15
okay!

[2021-03-16 12:01] musk101 commented on #8
Hey! I guess I have already done this part. I just have to rename the app name to client for now it's my-app. @codewithvk

[2021-03-16 12:26] #15 closed

[2021-03-16 16:06] manognyaa commented on #16
I am a GSSOC'21 participant, Can I also work on this issue ? @codewithvk

[2021-03-16 17:10] 4doctorstrange commented on #11
Hello there, I am a GSSoC'21 participant. I would love to work on the backend design of the website. I  have developed projects using Django Framework, some of them are deployed on the Heroku server (you can have a look at them on my profile (BlogApp, URL shortener))

[2021-03-16 18:12] rebs-becca15 commented on #9
Hello @amishaagarwal1998

I can work on this issue. I am a participant for GSSoC'21 and a content writer by passion. I can help you in completing the readme.md section of the assets folder.
I am really looking forward to making my first contribution to this program.

[2021-03-16 19:05] rutuja2229 commented on #16
@manognyaa  I am working on this, but u can improve the structure and design of readme file if u want, I did complete the next part.

[2021-03-16 19:06] rutuja2229 commented on #16
@codewithvk Can u tell me what exactly u r expecting to add in main readme file? Please

[2021-03-17 02:52] codewithvk commented on #16
@rutuja2229 as of now not much needs to improve.
solve below bug.
![Capture](https://user-images.githubusercontent.com/61119120/111407411-c5e48a80-86f9-11eb-92d4-94bf29e942a7.PNG)
if `gif` not working then you can put a link for that.

[2021-03-17 02:53] #8 closed

[2021-03-17 03:00] codewithvk commented on #8
I think you made PR without any issue and one of the mentors merge your PR by mistake.
Reason:- Before merging your PR this issue was assigned.

Apologies for this thing, I hope you can cooperate with us. If you want to improve any part of code in codebase, Make sure first open issue rather than directly PR. If you have doubt then you can contact me via discord.

Hope You understand. Keep Contribu

[2021-03-17 05:49] amishaagarwal1998 commented on #9
@rebs-becca15 Sure, go ahead!

[2021-03-17 05:50] amishaagarwal1998 commented on #9
@rutuja2229 It would consist of details of the resources in assets folder. You can proceed.

[2021-03-17 07:35] rutuja2229 commented on #16
@codewithvk  okay

[2021-03-17 09:39] Devenkapoor7303 commented on #13
Can you review whether it is looking okay now? So that I can make a PR.

![Capture](https://user-images.githubusercontent.com/73438023/111446576-68344c00-86c1-11eb-91c8-d87c9c51aa03.JPG)

[2021-03-17 09:45] amishaagarwal1998 commented on #13
Please make PR. WE'll review and merge accordingly

On Wed, Mar 17, 2021, 3:09 PM Devenkapoor7303 ***@***.***>
wrote:

[2021-03-17 09:48] Devenkapoor7303 commented on #13
Okay

[2021-03-17 10:15] Devenkapoor7303 commented on #13
Your file structure has changed so it is creating conflicts so should I create a navbar for the page

[2021-03-17 10:15] Devenkapoor7303 commented on #13
@amishaagarwal1998

[2021-03-17 10:17] amishaagarwal1998 commented on #13
You can try to see the current structure and work accordingly. Is that
fine? The earlier had some issues, hence we had to change that.

On Wed, Mar 17, 2021, 3:46 PM Devenkapoor7303 ***@***.***>
wrote:

[2021-03-17 10:19] Devenkapoor7303 commented on #13
Okay I will create a navbar for the page @amishaagarwal1998

[2021-03-17 11:36] Castella1313 opened #27 "Designing About Us Section"
**Designing About Us Section in home Page**

![Screenshot 2021-03-17 at 5 03 37 PM](https://user-images.githubusercontent.com/53293156/111461316-0e746600-8743-11eb-8c06-7f05e1bc00fb.png)

[2021-03-17 11:37] Castella1313 commented on #27
@amishaagarwal1998 I'm a GSSOC'21 participant!! May I work on it?

[2021-03-17 11:43] #16 closed

[2021-03-17 13:05] jhasuraj01 commented on #14
As this project is open for all can I work for it?

[2021-03-17 13:08] ShambhaviSharma0110 commented on #14
Hey! I would really like to work on this please allow me to work on this...
-gssoc'21 participant

[2021-03-17 13:37] Devenkapoor7303 commented on #13
@amishaagarwal1998 Should I create the same navbar or some other one?

[2021-03-17 14:32] Shulabh-968026 commented on #4
I would like to work on backend .Please assign this to me.

[2021-03-17 14:33] Shulabh-968026 commented on #1
I would like work on Front End.Can I work on  it.

[2021-03-17 15:26] codewithvk commented on #14
You can create PR according to the given instructions.

[2021-03-17 15:27] codewithvk commented on #14
Sure! Go ahead.

[2021-03-17 17:55] Sapna2001 opened #28 "Email Subscription"
**Is your feature request related to a problem? Please describe.**
![Screenshot from 2021-03-17 23-14-50](https://user-images.githubusercontent.com/56690856/111514144-75ac0d80-8777-11eb-841f-01e469188f27.png)

**Describe the solution you'd like**
I will be creating the email component.

**Additional context**
I am a GSSOC 2021 participant please assign me this issue.

[2021-03-18 00:39] Castella1313 opened #29 "Designing Join Us Section"
**Designing Join Us Section**
![Screenshot 2021-03-17 at 5 04 23 PM](https://user-images.githubusercontent.com/53293156/111556389-7319da00-87b0-11eb-9102-4cc898398e0c.png)

[2021-03-18 00:39] Castella1313 commented on #29
@amishaagarwal1998 May I work on it?

[2021-03-18 00:40] Castella1313 opened #30 "Designing Newsletter Section"
**Designing Newsletter Section **
![Screenshot 2021-03-17 at 5 04 45 PM](https://user-images.githubusercontent.com/53293156/111556433-9775b680-87b0-11eb-9ee6-fcf40832c060.png)

[2021-03-18 00:40] Castella1313 commented on #30
@aashimgarg May I work on it?

[2021-03-18 00:43] Castella1313 commented on #28
I think it would be great if I get to work on it too just in order to keep the background theme same for all the sections(join us, newsletter, about us)!

[2021-03-18 00:45] Castella1313 commented on #28
@codewithvk May I work on it?

[2021-03-18 00:46] Castella1313 commented on #14
@codewithvk if we all would be designing the home page, on what basis a final design for the home page is gonna get selected?

[2021-03-18 02:31] jhasuraj01 commented on #14
@codewithvk in which folder shall I put my file?

[2021-03-18 03:00] codewithvk commented on #14
Design select by Project Admin so don't worry just put your design in the Given instruction.

[2021-03-18 03:01] codewithvk commented on #14
`assets/homepage/<your name>/xyz.png`

[2021-03-18 03:02] codewithvk commented on #27
@Castella1313 Go ahead!

[2021-03-18 03:05] codewithvk commented on #27
@Castella1313 Kindly make the design as generalized so we can put it on join us page, newsletter page & about us page can be handle with one component :)

[2021-03-18 03:07] codewithvk commented on #29
@Castella1313 makes it generalized in the assigned issue.

[2021-03-18 03:07] #29 closed

[2021-03-18 03:08] codewithvk commented on #28
@Castella1313 @Sapna2001 both can refer #27 issue.

[2021-03-18 03:08] #28 closed

[2021-03-18 03:08] #30 closed

[2021-03-18 03:41] cryptofox17 opened #33 "Adding a style guide in README.md"
**Is your feature request related to a problem? Please describe.**
Making a website consistent by using the same color scheme and font across every page.

**Describe the solution you'd like**
I want to make a style guide that will give the hex codes for all the important colors, font style, button style as shown in the mov.
It will be a PNG image that contains all these information that will also

[2021-03-18 06:19] jhasuraj01 opened #34 "Update contribute.md in order to guide the designers how to submit their designs"
# Problem
contribute.md doesn't have much info regarding how to submit our designs. A clarity is needed regarding the folder structure in which designers can submit their designs.

# Solution
Decide the folder structure, sub folder names for all the component and mention that in contribution.md

For Example:
[code]

[2021-03-18 06:19] jhasuraj01 commented on #34
@codewithvk Please assign this to me, I am a gssoc'21 participant

[2021-03-18 06:20] codewithvk commented on #34
@jhasuraj01 go ahead!

[2021-03-18 06:32] codewithvk opened #35 "Add Navbar"
**Deliverables**
- Add a Navbar on the Home screen
- Each Button/Link has a hover effect.
- Logo `Assets/GS_logo_black (1).png`

**Sample**
![Capture](https://user-images.githubusercontent.com/61119120/111582707-3b775600-87e1-11eb-9107-ee72a8fd42d3.PNG)

**Additional context**
- Try to make with less external Library.
- Please attach Image/Gif with PR.

[2021-03-18 06:34] codewithvk commented on #33
@cryptofox17 go ahead!

[2021-03-18 06:40] jhasuraj01 commented on #34
@codewithvk shall I make respective folders for each design components or shall I left this for designers?

[2021-03-18 06:43] codewithvk commented on #34
@jhasuraj01 If you create then it would be great.

[2021-03-18 06:44] jhasuraj01 commented on #34
okay

[2021-03-18 09:16] RuchiGitHu commented on #35
Hii @codewithvk , I want to solve this issue as I have build some websites with navbar.
Please /assign this issue so that I can learn new things from here in frontend.
Thanks in advance...

[2021-03-18 10:04] codewithvk commented on #35
@RuchiGitHu Happy to see you here!

Go ahead!

[2021-03-18 10:06] #34 closed

[2021-03-18 12:27] vedikaag99 commented on #14
@codewithvk Can I also give this issue a try?

[2021-03-18 12:35] codewithvk commented on #14
@vedikaag99 sure! Go ahead.

[2021-03-18 12:37] vedikaag99 commented on #14
@codewithvk Do I need to show the design here before opening up a PR?

[2021-03-18 17:49] shreyanshi16 opened #39 "Designing Mission and Vision section"
![image](https://user-images.githubusercontent.com/53462278/111661974-84f19080-8835-11eb-9f39-6cbcc493c055.png)
@codewithvk I would like to design Mission and Vision Section.

[2021-03-18 22:07] musk101 commented on #35
Hey! can I also work on this issue? @codewithvk

[2021-03-19 06:46] Castella1313 opened #41 "Designing Footer Component"
Designing Footer Component

[2021-03-19 06:46] Castella1313 commented on #41
@codewithvk May I work on it?

[2021-03-19 08:16] kanishkaa24 commented on #9
Hello! Can I work on this?

[2021-03-19 08:16] kanishkaa24 commented on #13
Hello! Can I work on this ?

[2021-03-19 08:16] kanishkaa24 commented on #27
Hello! Can I work on this ?

[2021-03-19 08:17] kanishkaa24 commented on #14
Hello! Can I work on this ?

[2021-03-19 08:18] kanishkaa24 commented on #35
Hello! Can I work on this?

[2021-03-19 18:09] alkatrivedi opened #42 "Readme Links bug"
**Describe the bug**
Readme has links in the content section but they are not redirecting user to their respective sections. Like on clicking on the Contributors link it is not redirecting user to the contributors section in the readme.

**To Reproduce the Current Behavior**
Steps to reproduce the current behavior:
1. Go to 'Readme.md'
2. Click on 'any link in the content section'
3. See an error(

[2021-03-19 18:57] mohammedjameel24 opened #43 "Dark theme Ui"
**Is your feature request related to a problem? Please describe.**
Switchable dark theme ui

**Describe the solution you'd like**
Dark mode UI toggle

**Describe alternatives you've considered**
Javascript implementation

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-03-19 18:57] mohammedjameel24 commented on #43
/assign

[2021-03-20 03:32] codewithvk commented on #35
@RuchiGitHu What's the update? If you don't want to work on it, let me know I will assign you to some other participants.

[2021-03-20 05:09] RuchiGitHu commented on #35
I want to work on it. I have started working on this issue already. Shortly I will update you regarding progress...
Thanks for assigning....

[2021-03-20 06:28] chandrikadeb7 commented on #42
@alkatrivedi You may proceed!

[2021-03-20 08:29] alkatrivedi commented on #42
On it. Thank you.

[2021-03-20 10:10] #42 closed

[2021-03-20 16:29] Castella1313 commented on #41
@codewithvk May I work on it?

[2021-03-21 11:38] RuchiGitHu commented on #35
Hi @codewithvk, Please review my PR and let me know if there is any changes required.
Looking forward for contributing here...
Thanks in advance.

[2021-03-21 17:35] Sristi27 opened #48 "Navbar Link Changes"
The navbar links do not have any effect on hover.Also,they do not show which page the user is currently on when clicked.
I would like to add this extra feature by modifying the existing one.

Kindly assign this issue to me.

[2021-03-21 19:35] nikfzy commented on #11
I would like to contribute in the Back end development for this project , I think we should start with Modelling part of the back end
.

[2021-03-22 05:09] vedikaag99 commented on #39
@codewithvk can I work on this issue as well?

[2021-03-22 05:09] vedikaag99 commented on #41
@codewithvk can I Work on this issue?

[2021-03-22 05:10] vedikaag99 commented on #27
@codewithvk @amishaagarwal1998 is this issue open to grab?

[2021-03-22 06:13] #27 closed

[2021-03-22 06:13] codewithvk commented on #41
@Castella1313 & @vedikaag99  Go ahead!

[2021-03-22 08:51] nayaldivya commented on #35
Hey @codewithvk, I want to contribute some quality code to the website preferably at back-end , can you please assign me a issue.

[2021-03-22 15:47] #41 closed

[2021-03-22 19:18] riddhisiddarkar opened #50 "Frontend Development:Making the footer"
Hey! I observed the footer design has been uploaded. I'm a gssoc'21 participant and it would be great if you could assign me the issue.

Thank you for your time and consideration.

[2021-03-22 21:11] varshith-k opened #51 "Adding Instagram in Social Media"
**Is your feature request related to a problem? Please describe.**
It would be good if we add a link in the page that directs to GS Insta Handle.
**Describe the solution you'd like**
Add Insta like we have for twitter in the page

[2021-03-22 21:12] varshith-k commented on #51
Can you please assign me thsi issue? @amishaagarwal1998

[2021-03-23 20:17] rutuja2229 commented on #14
@codewithvk I made PR #52, please review this design.

[2021-03-24 03:27] codewithvk opened #53 "Header / Navbar"
**Deliverables**
- Add Navbar Component
- Each Button/Link has a hover effect.
- Logo `Assets/GS_logo_black (1).png`

**Sample**
![Capture](https://user-images.githubusercontent.com/61119120/112249843-787a9700-8c7e-11eb-97fc-ff4385a570c3.PNG)

**Additional context**
- Tech/Framework:- React Js

[2021-03-24 03:30] #33 closed

[2021-03-24 03:31] codewithvk opened #54 "Add Homepage"
**Deliverables**
- Create a Home Page component
- For images, As of now you can use any copyright-free Image.
- Color you can pick from [here](https://github.com/girlscript/Girscript-Community-Website#style-guide-)

**Sample**
![Capture1](https://user-images.githubusercontent.com/61119120/112250341-33a33000-8c7f-11eb-9f6f-7b21b601f4f1.PNG)

**Additional context**
- Tech/Framework:- React Js

[2021-03-24 03:35] codewithvk opened #55 "Create About us Section"
**Deliverables**
- Make Generalized components.
- Also Generalized color as well. (I mean we can pass using props).

**Sample**
![Capture2](https://user-images.githubusercontent.com/61119120/112250630-b88e4980-8c7f-11eb-8f3c-9f2eaeb927b1.PNG)
![Capture6](https://user-images.githubusercontent.com/61119120/112250641-be842a80-8c7f-11eb-8573-b2b72ba29bd0.PNG)
![Capture9](https://user-images.githubuser

[2021-03-24 03:38] codewithvk opened #56 "Mission & Vision Page Component"
**Deliverables**
- Add Mission & Vision Page's Component.
- Color you can pick from [here](https://github.com/girlscript/Girscript-Community-Website/blob/master/style.md)

**Sample**
![Capture3](https://user-images.githubusercontent.com/61119120/112250867-33576480-8c80-11eb-93db-c6d9020be4b8.PNG)

**Additional context**
- Tech/Framework:- React Js

[2021-03-24 03:47] codewithvk opened #58 "Create Upcoming Event Section"
**Deliverables**
- Create an Upcoming Event Component.
- For Image, as of now, you can use any non-copyrighted image.

**Sample**
![Capture4](https://user-images.githubusercontent.com/61119120/112251452-44ed3c00-8c81-11eb-9e63-a056d09ea5eb.PNG)

**Additional context**
- Tech/Framework:- React Js
- External Library :- You can use React Bootstrap

[2021-03-24 03:49] codewithvk opened #59 "Our Programs Component"
**Deliverables**
- Add Our Programs Component
- Each Component has Link.
- Add hover effect

**Sample**
![Capture5](https://user-images.githubusercontent.com/61119120/112251697-c5ac3800-8c81-11eb-975c-0ace7de80340.PNG)

**Additional context**
- Tech/Framework:- React Js

[2021-03-24 03:52] codewithvk opened #60 "Add Our Testimonial Component."
**Deliverables**
- Add Our Testimonial Component.
- Use Dummy Data.
- Add Hover Effect.

**Sample**
![Capture7](https://user-images.githubusercontent.com/61119120/112251938-2b98bf80-8c82-11eb-9a80-bce14b034046.PNG)

**Additional context**
- Tech/Framework:- React Js

[2021-03-24 03:53] #14 closed

[2021-03-24 03:54] #1 closed

[2021-03-24 03:54] #9 closed

[2021-03-24 04:23] vedikaag99 commented on #56
@codewithvk can I work on this?

[2021-03-24 04:59] codewithvk commented on #56
@vedikaag99 go ahead!

[2021-03-24 05:43] shreyanshi16 commented on #55
I would like to work on this issue. Please assign me.

[2021-03-24 05:44] shreyanshi16 commented on #60
I would like to work on this issue. Please assign me.

[2021-03-24 05:45] Shulabh-968026 commented on #55
I would like to work on this issue.Can I Work on it.

[2021-03-24 05:46] Shulabh-968026 commented on #59
I would like to work on it.Please assign to me.

[2021-03-24 05:48] vedikaag99 commented on #54
@codewithvk I would like to work on this as well.

[2021-03-24 06:04] codewithvk commented on #54
@vedikaag99 as the same time we assign only one issue. So kindly complete the assigned issue. after you can work on it :)

[2021-03-24 06:05] codewithvk commented on #55
@shreyanshi16 go ahed !

[2021-03-24 06:06] codewithvk commented on #59
@Shulabh-968026 go ahead!

[2021-03-24 06:07] codewithvk commented on #60
@shreyanshi16 at the same time we assign only one issue. So kindly complete the assigned issue. after you can work on it :)

[2021-03-24 06:10] AshuKV commented on #54
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-24 06:11] AshuKV commented on #58
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-24 06:13] codewithvk commented on #54
@AshuKV go ahead!

[2021-03-24 06:14] codewithvk commented on #58
@AshuKV at the same time we assign only one issue. So kindly complete the assigned issue. after you can work on it :)

[2021-03-24 07:11] Castella1313 commented on #60
@codewithvk may I work on it?

[2021-03-24 07:29] codewithvk commented on #60
@Castella1313 we need to code it. Are you interested?

[2021-03-24 07:30] Devenkapoor7303 commented on #60
Can I work on this issue?

[2021-03-24 09:29] Castella1313 commented on #60
yes I'm :) please assign it to me

[2021-03-24 11:35] Godwindaniel10 commented on #53
hi, I am Godwin, I will be so glad to work to this issue

[2021-03-24 11:40] rutuja2229 commented on #53
@codewithvk Can I work on this issue? I am GSSoC 2021 participant, plz.

[2021-03-24 11:43] rutuja2229 commented on #58
@codewithvk can I work on this issue, plz? I am GSSoC 2021 participant.

[2021-03-24 14:27] codewithvk commented on #60
@Castella1313 No, we don't need to add a button.

[2021-03-24 14:29] codewithvk commented on #53
@Godwindaniel10 Sure Go ahead!

@rutuja2229 You can look up some other issue :)

[2021-03-24 14:42] Godwindaniel10 commented on #53
@codewithvk thanks, currently on it..

[2021-03-25 04:58] Godwindaniel10 commented on #53
@codewithvk , there's an issue at hand , sorry this message is coming late .. I can't run the project on my local machine?       I am not a react dev tho,
I have tried googling ,on how to run It, but failed .I believe you should explain to me how to run on local machine ☑️

[2021-03-25 05:40] codewithvk commented on #53
@Godwindaniel10 No problem with this I will explain you.

First, your system needs to install nodejs and npm(Node package manager). So you can google it according to your Operating system and download it.

- After clone this repo on your local machine
`https://github.com/Godwindaniel10/Girscript-Community-Website.git`
- write command `cd Girscript-Community-Website/frontend/`
- then write command

[2021-03-25 08:42] Godwindaniel10 commented on #53
well successfully run the browser. but this what I got.

![girlscript browser](https://user-images.githubusercontent.com/54848535/112443697-29e40000-8d45-11eb-805e-3160221e4c13.JPG)

![girlscript cmd](https://user-images.githubusercontent.com/54848535/112443849-513acd00-8d45-11eb-8bec-1d56caca7a71.JPG)

[2021-03-25 09:25] codewithvk commented on #53
@Godwindaniel10 Yap that's show your code run successfully.

[2021-03-25 09:38] vedikaag99 commented on #56
Hi @codewithvk does this look good to you? Or is there any changes that I need to do?

https://user-images.githubusercontent.com/67699840/112451590-b0b3cf80-8d7b-11eb-8f64-01ada97acbe7.mov

[2021-03-25 10:34] Godwindaniel10 commented on #53
ok great

[2021-03-25 12:08] codewithvk commented on #56
@vedikaag99 LGFM:)

[2021-03-25 19:26] nikfzy commented on #4
We should start with user modeling and drf setup for api creation.

[2021-03-26 05:14] Castella1313 commented on #55
@codewithvk when this issue will be passed on to other participant? After how many days?

[2021-03-26 11:09] jhasuraj01 commented on #56
Can I work for this issue?

[2021-03-26 11:44] #56 closed

[2021-03-26 12:07] Godwindaniel10 commented on #53
Good day, I ran into an issue again, after adding the navbar components, coded and styled the navbar, then I got this error message which I have tried all my possible best to fix it, but nothing...

![hook react](https://user-images.githubusercontent.com/54848535/112629058-b537c100-8e2b-11eb-8f8d-a7870505339b.JPG)

[2021-03-26 17:16] shreyanshi16 commented on #55
Hi @codewithvk does this look good to you? Or is there any changes that I need to do?
![image](https://user-images.githubusercontent.com/53462278/112668793-edb7b900-8e84-11eb-8d9d-80a48741de92.png)
![image](https://user-images.githubusercontent.com/53462278/112668843-f9a37b00-8e84-11eb-86d1-9cf045aba175.png)

[2021-03-26 17:21] codewithvk commented on #55
@shreyanshi16 Ya looks good for me :)

Go ahead and make PR.

[2021-03-27 04:36] Naman-12911 commented on #11
Hello I wana contribute in this project .
I am a participant of GGSOC.
K worked on 2-3 project in Django please assign me this issue.

[2021-03-27 06:07] Castella1313 commented on #54
@codewithvk  May I work on it?

[2021-03-27 11:41] codewithvk commented on #54
@AshuKV What's  update?

[2021-03-27 12:10] codewithvk opened #67 "Local Installation step for react js."
**Deliverables**
- need Simple and clean local Installation step for Frontend.
- Make a change on `Readme.md`
- Make a change in `frontend/README.md` as well.

[2021-03-27 12:12] #60 closed

[2021-03-27 12:33] Castella1313 commented on #67
@codewithvk  may I work on it?

[2021-03-27 12:34] Castella1313 commented on #59
@codewithvk I would like to work on it

[2021-03-27 12:43] vedikaag99 commented on #67
@codewithvk I'd like to work on this

[2021-03-27 12:44] vedikaag99 commented on #54
Can I work on it now?

[2021-03-27 14:09] codewithvk commented on #67
@Castella1313 Go ahead!

[2021-03-27 14:38] AshuKV commented on #54
Hey @codewithvk I am still working on it, will push the code by tomorrow EOD.

[2021-03-28 05:15] nayaldivya commented on #11
Can you please specify what is the exact thing you are looking for?

[2021-03-28 12:47] pragati-kumar commented on #67
@codewithvk 'm a GSSOC'21 participant. I would like to contribute to this issue. We could use two headers "installation" and "setup environment".

[2021-03-28 13:16] Sapna2001 opened #69 "Improve testimonial section"
**Is your feature request related to a problem? Please describe.**
I would like to bring the testimonial to the center of the page

**Describe the solution you'd like**
add justify-content property in CSS file

**Describe alternatives you've considered**
NA

**Additional context**
NA

**Original**
![Screenshot from 2021-03-28 18-36-42](https://user-images.githubusercontent.com/56690856/112753442-4

[2021-03-29 04:01] codewithvk commented on #69
@Sapna2001 Go Ahead!

[2021-03-29 04:02] codewithvk commented on #35
@musk101 Any update from your side?

[2021-03-29 15:50] #67 closed

[2021-03-29 15:52] #69 closed

[2021-03-29 16:04] Castella1313 commented on #59
@codewithvk its been around 6 days this issue is being assigned to one participant! when it will be passed on to others?

[2021-03-29 16:05] Castella1313 commented on #58
@codewithvk When this issue will be passed on to other participant?

[2021-03-29 18:08] Sapna2001 opened #74 "ScrollTop"
**Is your feature request related to a problem? Please describe.**
I would like to add a button to pages so that the top of the page can be reached without manual scrolling

**Describe the solution you'd like**
Create a scroll top button

**Describe alternatives you've considered**
NA

**Additional context**
NA

**Screenshot**
![Screenshot from 2021-03-29 23-29-24](https://user-images.githubuserco

[2021-03-30 03:02] Shulabh-968026 commented on #59
![112251697-c5ac3800-8c81-11eb-975c-0ace7de80340](https://user-images.githubusercontent.com/58615131/112927281-5ecfc880-9132-11eb-9134-75696f2d9e0a.png)
Sir it's fine or not.

[2021-03-30 03:03] Shulabh-968026 commented on #59
![chrome_DTwUCYAGd8](https://user-images.githubusercontent.com/58615131/112927430-976fa200-9132-11eb-932d-5457855d9afb.png)
Sir
 It's fine or not.

[2021-03-30 08:06] rutuja2229 commented on #58
@codewithvk  and @Castella1313 As I am new to React, it is taking time to complete it, please let me give my best. This chance will help me to level up. I will try to make PR till tomorrow's EOD, if I failed to do so, any decision will be accepted.

[2021-03-30 08:28] Godwindaniel10 commented on #53
@RituCs I am already working on the issue but am stuck.

@codewithvk I will like you to assign this to @rutuja2229 or @RituCs .   Thank you 😊, so grateful to atleast be part of this conversation 👍👍👍

[2021-03-30 12:21] codewithvk commented on #53
@rutuja2229 do you wanna work on this issue?

[2021-03-30 12:21] #55 closed

[2021-03-30 12:32] shreyanshi16 commented on #53
@codewithvk i would like to work on this issue. Please assign me.

[2021-03-30 15:24] musk101 opened #75 "Make the footer"
make a footer that has required links and information required.

[2021-03-30 15:25] musk101 commented on #75
Hey @codewithvk can I take this issue up?

[2021-03-30 16:53] vedikaag99 commented on #75
@codewithvk can I work on it too?

[2021-03-31 03:37] musk101 commented on #35
Hello, @codewithvk sorry for replying late actually my exams started.
I will send a pr with all the changes today for sure.

[2021-03-31 03:38] musk101 commented on #35
Can you please assign it to me again by mistake I clicked on assign from my end.
@codewithvk

[2021-03-31 05:53] rutuja2229 commented on #53
@codewithvk I am working on #58  I will try to make PR on that issue and try to switch on this today itself.

[2021-03-31 06:12] codewithvk commented on #53
@shreyanshi16 go ahead!

[2021-03-31 06:13] codewithvk commented on #74
@Sapna2001 go ahead!

[2021-03-31 09:12] musk101 commented on #35
@codewithvk  I have sent the PR that resolves both the issues #75 and #35 .

[2021-03-31 12:43] SharmaTanish opened #78 "Adding "Our Impact" and "Our Community" Section"
**Add Our Impact and Our Community Section**
Hi @codewithvk I am Tanish . As this website is in progress , so I want to contribute in this program by adding above two sections under this issue . Also I have gone through most of opened issues and no one asked you to work on above 2 sections .

**I Want to add interactive sections to this web page**
As you have some a sample preview in video about h

[2021-03-31 17:31] rutuja2229 commented on #58
![image](https://user-images.githubusercontent.com/65710803/113186034-c4c46900-9274-11eb-9dfd-c6193e9c4815.png)

@codewithvk  I tried using React bootstrap
I know it is looking just okay, it will be better if u suggest some corrections or I make a PR.

And apologizes for long delay.

[2021-04-01 04:27] #50 closed

[2021-04-02 02:12] pallavi00021 commented on #11
can I start working on this issue?? I'm gssoc'21 participant. @amishaagarwal1998

[2021-04-02 10:27] SnehaVeerakumar commented on #11
Please mention the requirements you need in backend. @amishaagarwal1998

[2021-04-02 14:04] #75 closed

[2021-04-03 15:46] Castella1313 opened #81 "Create Login Component"
Create Login Component

Tech Stack - React js

[2021-04-03 15:46] Castella1313 commented on #81
@codewithvk May I work on it?

[2021-04-04 06:50] codewithvk commented on #81
@Castella1313 Go ahead!
Additional information:- Make sure it will in the login route. You can use react-router for that.

[2021-04-04 13:24] SharmaTanish commented on #78
Hello @codewithvk please assign this issue to me , so that I can start working on this . If there is any problem then please let me know !

[2021-04-05 06:14] codewithvk commented on #78
@SharmaTanish  Go ahead!

[2021-04-06 03:46] #53 closed

[2021-04-06 03:47] #35 closed

[2021-04-06 12:04] #74 closed

[2021-04-07 02:46] kumarishalini6 opened #82 "Create contact us and Feedback page"
In website there is no contact us page
and there should be feedback page
i want to work on this issue under GSSoC'21

[2021-04-07 14:02] Castella1313 opened #84 "Adding animation to components"
Adding animations to components

Like this

https://user-images.githubusercontent.com/53293156/113879416-1f5f4700-97d8-11eb-8798-196fa53e8a51.mov

[2021-04-07 14:04] Castella1313 commented on #84
@codewithvk  May I work on this ????

[2021-04-07 18:44] codewithvk commented on #84
@Castella1313 As of now we more work on component building.

[2021-04-07 18:46] codewithvk commented on #58
@rutuja2229 Please change the background color and make PR.

[2021-04-07 18:54] Castella1313 commented on #84
@codewithvk okay! Should we close this issue or keep for later?

[2021-04-07 18:58] codewithvk commented on #84
@Castella1313 Close is a better opestion.

[2021-04-07 18:59] #84 closed

[2021-04-07 19:01] Castella1313 opened #85 "Creating About us page"
Creating About us page

[2021-04-07 19:02] Castella1313 commented on #85
@codewithvk May I work on this?

[2021-04-07 19:05] Castella1313 commented on #85
@codewithvk I checked the about us page on this https://www.girlscript.tech/about
I'm thinking of creating this part of this page

![Screenshot 2021-04-08 at 12 34 42 AM](https://user-images.githubusercontent.com/53293156/113920315-3d41a180-9802-11eb-80ae-19396045663c.png)

[2021-04-07 19:32] vedikaag99 commented on #85
@codewithvk can I work on it?

[2021-04-08 11:00] kumarishalini6 opened #86 "Navbar improvement"
I have seen someone is created issue of making HOME,OUR IMAPCT and  OUR COMMUNITY  pages .
so there should be link in navbar that direct render on that pages.
I want to work on this issue under GSSoC'21.

[2021-04-09 11:07] Castella1313 commented on #85
@codewithvk Are you active on this repo?

[2021-04-09 11:42] codewithvk commented on #82
@kumarishalini6 As of now, Contact us, Feedback page, etc page design is not fixed. We will work on that after that you can work on it:)

[2021-04-09 11:44] codewithvk commented on #85
@Castella1313 As of now, the Design of the About us page not fixed by Admin, So we want to wait for that.

P.S:- first we want to complete **home page** entirely so if you create an issue related to home page then it will better.

[2021-04-09 11:47] kumarishalini6 commented on #82
Ok

[2021-04-12 17:16] Castella1313 opened #87 "Navbar not responding in Mobile mode"
Its hamburger doesn't open up!!

[2021-04-12 17:16] Castella1313 commented on #87
@codewithvk May I work on it?

[2021-04-12 17:17] Castella1313 commented on #78
@codewithvk when this issue will be passed on to other participants ?

[2021-04-12 17:18] Castella1313 commented on #58
@codewithvk  when this issue will be assigned to others?

[2021-04-12 17:20] Castella1313 commented on #59
@codewithvk  when this issue will be assigned to others?

[2021-04-12 17:21] Castella1313 commented on #85
@codewithvk Till what date we can expect the Design will be finalised?

[2021-04-12 18:47] codewithvk commented on #59
@Shulabh-968026 LGFM :)

[2021-04-12 18:48] codewithvk commented on #87
@Castella1313 Go ahead!

[2021-04-12 18:48] codewithvk commented on #78
What's the update @SharmaTanish ?

[2021-04-12 18:49] codewithvk commented on #58
What's the update @rutuja2229 ?

[2021-04-13 06:28] SharmaTanish commented on #78
Hi @codewithvk sorry for the late response , actually some tests are going in my college . But don't worry the design is almost ready , I will send you screenshots by **tomorrow** **for sure** !
Thank you for your patience
Regards

[2021-04-14 10:46] SharmaTanish commented on #78
Hi @codewithvk please have a look on the following design and suggest me more changes and work that I should do.
Also please note that these 2 sections I have made are completely responsive !
Thank you
![Hnet-image (1)](https://user-images.githubusercontent.com/75024552/114698052-453a9d80-9d3c-11eb-9744-868a501fd840.gif)

[2021-04-14 12:46] codewithvk commented on #78
Hey @SharmaTanish , Our **Community section** looks good for me but in **our impact** section needs the below changes.
 - In our impact left component's background color is miss-matched, You can use white or something else.
  - In our impact right components are dynamic, not static. You can take reference from [here](https://www.youtube.com/watch?v=-CwzaTKniH4)

Ps:- If you felt like it is hard fo

[2021-04-14 13:10] SharmaTanish commented on #78
I will make these changes for sure and send you by tomorrow . Don't worry I will resolve it and yeah please don't hesitate in mentioning changes that you want , I will for sure do that nothing is hard . I want to make this project successful same as you want .
Open source means nothing but working in team as a unit . So don't worry I will do tasks for this project after this issue as well 🙂.

Than

[2021-04-14 13:14] SharmaTanish commented on #78
Please tell me the values we need to give in pi-chart? Also our impact left component I think white colour will look good only then ! And any other changes?

[2021-04-14 13:32] codewithvk commented on #78
You can use any random Value as of now

[2021-04-14 15:23] SharmaTanish commented on #78
@codewithvk please review !
![Hnet-image](https://user-images.githubusercontent.com/75024552/114735617-ff450000-9d62-11eb-8d15-7ad6f6b69737.gif)

[2021-04-14 15:40] codewithvk commented on #78
@SharmaTanish LGFM :) Make PR.

[2021-04-14 17:10] SharmaTanish commented on #78
@codewithvk I am facing this problem in pulling the recent commits from original repository , please guide ?
![git_girlscript](https://user-images.githubusercontent.com/75024552/114751090-569e9c80-9d72-11eb-956f-fe57a16e5937.PNG)

[2021-04-15 04:58] codewithvk commented on #78
@SharmaTanish git pull <repository> .

[2021-04-15 07:20] #87 closed

[2021-04-15 08:22] SharmaTanish commented on #78
Hi @codewithvk , the 2 sections I added are displaying below footer in current website ! So how do I made these just below MISSION AND VISION Section ?? Please guide ? (And sorry for the above silly mistake I did in git command)

Thank you
Regards
![Screenshot (1595)](https://user-images.githubusercontent.com/75024552/114837597-82149c00-9df1-11eb-8217-481226591288.png)

[2021-04-15 08:22] SharmaTanish commented on #78
Hi @codewithvk , the 2 sections I added are displaying below footer in current website ! So how do I made these just below MISSION AND VISION Section ?? Please guide ? (And sorry for the above silly mistake I did in git command)

Thank you
Regards
![Screenshot (1595)](https://user-images.githubusercontent.com/75024552/114837597-82149c00-9df1-11eb-8217-481226591288.png)

[2021-04-15 11:34] codewithvk commented on #78
If you made PR and visible code by PR, Then I will surely help you, and no worries! we are together for learning :)

[2021-04-15 15:37] Sapna2001 opened #90 "Social Media Links"
**Describe the bug**
Adding social media links of Facebook, Twitter, mail

**To Reproduce the Current Behavior**
Steps to reproduce the current behavior:
1. add href in the Link

**Expected behavior**
On click social media page is opened

**Related Screenshots**
Na

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**S

[2021-04-15 16:09] deespider commented on #90
I would like to work on this issue. Please Assign me

[2021-04-16 11:23] #90 closed

[2021-04-16 17:09] rutuja2229 commented on #58
@codewithvk My exams were going on, I will change the background color and making PR.

[2021-04-16 18:16] #78 closed

[2021-04-19 16:12] Sapna2001 opened #93 "404 page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
404 page

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Create a 404 page and a react route.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2021-04-20 05:16] codewithvk commented on #86
@kumarishalini6 Do you means, add router?

[2021-04-20 05:17] codewithvk commented on #85
@Castella1313 Hey if you have a design then show me and after then you can work on it.

[2021-04-20 05:17] kumarishalini6 commented on #86
Yes

[2021-04-20 05:18] codewithvk commented on #82
@kumarishalini6 Hey if you have a design then show me and after then you can work on it.

[2021-04-20 05:19] codewithvk commented on #86
@kumarishalini6 go ahead!

[2021-04-20 05:20] kumarishalini6 commented on #86
Thanks

[2021-04-20 05:24] kumarishalini6 commented on #82
If you don't mind can we discuss about it later because you have assign me another issue first I'll send PR on that then I'll discuss.

[2021-04-20 07:46] Castella1313 commented on #85
@codewithvk Can you please checkout the layout of about us page

https://www.figma.com/proto/gBVlpqmED0jQmnLURNiliF/Untitled?page-id=0%3A1&node-id=12%3A1273&viewport=1906%2C539%2C0.5154628753662109&scaling=min-zoom

[2021-04-22 06:34] kumarishalini6 commented on #86
I have exam in this week after that I'll work on this issue

[2021-04-22 15:11] Castella1313 commented on #85
@codewithvk ?

[2021-04-24 16:08] a-abhinav commented on #86
@codewithvk as previous assignee is busy can I solve this issue this ?

[2021-04-25 04:53] kumarishalini6 commented on #86
I have send PR please review it.

[2021-04-25 09:49] khareyash05 opened #96 "add contributing.md"
Hey! I would like to add the following in contributing.md
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on it as a part of GSSOC'21

[2021-04-25 16:27] SnehaVeerakumar commented on #54
I would like to work on this issue. If the timeline exceeds for current assignee, please assign me to complete this issue in 5 to 10 days. @codewithvk

[2021-04-26 12:49] subhangi2731 commented on #11
please assign me this

[2021-04-27 13:04] subhangi2731 commented on #59
can I work on this issue?

[2021-05-01 04:49] subhangi2731 commented on #81
is this issue open? can I work?

[2021-05-04 14:27] kumarishalini6 commented on #82
If you  have any design please tell me because I am little bit confused  I was thinking to make and check is it suitable for the website or not

[2021-05-07 05:19] Anmolreshi commented on #85
Can I work on re design of about us page ?

[2021-05-07 14:53] #93 closed

[2021-05-11 10:15] AbhipsaGuru1012 commented on #86
@codewithvk can I work on this issue under GSSoC'21?

[2021-05-11 10:17] kumarishalini6 commented on #86
This  issue got merged , I don't know why it is open yet

[2021-05-11 10:17] kumarishalini6 commented on #86
@a-abhinav please close this issue

[2021-05-15 10:32] #86 closed

[2021-05-15 10:32] kumarishalini6 commented on #86
Merged

[2021-05-16 15:58] Jassi10000-zz commented on #43
If its still open , I would like to work on this
Assign me

[2021-05-16 15:59] Jassi10000-zz commented on #11
Btw wouldn't it be nice to keep the backend completely on Node and Express , it performs better and is highly scalable

[2021-05-19 09:59] Shulabh-968026 commented on #59
Sir Can I merge this.

[2021-05-30 15:05] #96 closed

[2021-08-19 01:18] Mann-tech13 commented on #81
Can I work on login page ?

[2022-01-18 05:03] nawed2611 commented on #54
Hi! If this issue is still open? I would like to work on it.

[2022-05-07 13:09] Susmita-Dey opened #97 "Add CODE_OF_CONDUCT file"
**Is your feature request related to a problem? Please describe.**
CODE_OF_CONDUCT file is missing in this repository. This is an important file that should be present in a repository.

**Describe the solution you'd like**
I want to add the CODE_OF_CONDUCT file.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.